{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="my-4">
    <h2>タスク</h2>
</div>

<form method="post">
    {% csrf_token %}
    <div class="formpost">
        {% render_field form.name class="form-control" placeholder="タスク名を入力" %}
    </div>
    <div class="formpost">
        {% render_field form.duration class="form-control" placeholder="所要時間を入力" %}
    </div>
    <div class="formpost">
        {% render_field form.sharing_rate class="form-control" placeholder="分担率を入力" %}
    </div>
    <div class="formpost">
        {% render_field form.wage class="form-control" placeholder="賃金換算を入力" %}
    </div>
    <input type="hidden" name='year' value={{year}} required id='id_year'>
    <input type="hidden" name='month' value={{month}} required id='id_month'>
    <input type="hidden" name='day' value={{day}} required id='id_day'>
    <button class="btn btn-warning" type="submit">送信する</button>
</form>

{% endblock %}